.App {
  text-align: center;
  position: relative;
  height: 100vh;
  overflow:scroll;
  flex-wrap: wrap;

}
.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.openedModal{
  z-index: 9999;
}

.RightComponent{
  position: absolute;
  height: 100vh;
  width: 50%;
  right:0;
  background: #09d3ac;
  flex-wrap: wrap;
  overflow:scroll;
}

.MatchesSection{
  position: absolute;
  height: 100vh;
  width: 50%;
  right:0;
  top:0;
  background: #09d3ac;
  flex-wrap: wrap;
  overflow:scroll;
}

.emptyMatches{
  margin: 0 auto;
  margin-top: 50%;
}

.brokenHeart{
  height: 200px;
  width:200px;
  border: none;
}

.emptyMatches h2{
  font-size:40px;
}

.LeftComponent{
  position: absolute;
  height: 100vh;
  width: 50%;
  left:0;
}

.leftHeader{
  margin-top: 28px;
}

.profilesLikes{
  text-align: left;
}

.userHello{
  align-self: center;
  text-align: left;
  font-size: 35px;
}

.rightTop{
  height: 5%;
  position: fixed;
  width: 50%;
  text-align: center;
  background:#282c34 ;
  z-index: 999;
  opacity: 0.8;
}

.profileCardRight{
  margin-top: -10px;
  /* height:320px */
}

.age {
  font-size: 25px;
}

.card .body {
  font-size: 19px!important;
}

.card {
  border-radius: 1.25rem!important;
}

@media (min-width: 768px) {
  .col-md-12 {
      flex: 0 0 100%;
      max-width: 100%;
      top: 130px;
  }
}

.profile-page .profile-header .profile-image img {
  border-radius: 20% !important;
  width: 200px!important;
  border: 3px solid #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.btn-primary {
  color: green!important;
  background-color: whitesmoke!important;
  border-color: #b5cce4!important;
  position: absolute!important;
  bottom: 1%!important;
  right: 10px!important;
  border-radius: 30%!important;
}

.m-t-5 {
  margin-top: 5px;
}

.card {
  background: #fff;
  margin-bottom: 30px;
  transition: .5s;
  border: 0;
  border-radius: .1875rem;
  display: inline-block;
  position: relative;
  width: 100%;
  box-shadow: none;
}

.card .body {
  font-size: 14px;
  color: #424242;
  padding: 20px;
  font-weight: 400;
}

.profile-page .profile-header {
  position: relative
}

.profile-page .profile-header .profile-image img {
  border-radius: 50%;
  width: 140px;
  border: 3px solid #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
}

.profile-page .profile-header .social-icon a {
  margin: 0 5px
}

.profile-page .profile-sub-header {
  min-height: 60px;
  width: 100%
}

.profile-page .profile-sub-header ul.box-list {
  display: inline-table;
  table-layout: fixed;
  width: 100%;
  background: #eee
}

.profile-page .profile-sub-header ul.box-list li {
  border-right: 1px solid #e0e0e0;
  display: table-cell;
  list-style: none
}

.profile-page .profile-sub-header ul.box-list li:last-child {
  border-right: none
}

.profile-page .profile-sub-header ul.box-list li a {
  display: block;
  padding: 15px 0;
  color: #424242
}

.bullet {
  list-style-type: none;
}

.MessagesRightSection{
  position: absolute;
  height: 100vh;
  width: 50%;
  right:0;
  background: #0971d3;
  flex-wrap: wrap;
  overflow:scroll;
}
    /* UserProfile */
    
    body {
        margin-top: 20px;
        background: #eee;
    }
    
    .age {
        font-size: 25px;
    }
    
    .card .body {
        font-size: 19px!important;
    }
    
    .card {
        border-radius: 1.25rem!important;
    }
    
    @media (min-width: 768px) {
        .col-md-12 {
            flex: 0 0 100%;
            max-width: 100%;
            top: 130px;
        }
    }
    
    .profile-page .profile-header .profile-image img {
        border-radius: 20% !important;
        width: 200px!important;
        border: 3px solid #fff;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        position: relative;
        left: 25%;
    }
    
    .m-t-5 {
        margin-top: 5px;
    }
    
    .card {
        background: #fff;
        margin-bottom: 30px;
        transition: .5s;
        border: 0;
        border-radius: .1875rem;
        display: inline-block;
        position: relative;
        width: 100%;
        box-shadow: none;
    }
    
    .card .body {
        font-size: 14px;
        color: #424242;
        padding: 20px;
        font-weight: 400;
    }
    
    .profile-page .profile-header {
        position: relative
    }
    
    .profile-page .profile-header .profile-image img {
        border-radius: 50%;
        width: 140px;
        border: 3px solid #fff;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
    }
    
    .profile-page .profile-header .social-icon a {
        margin: 0 5px
    }
    
    .profile-page .profile-sub-header {
        min-height: 60px;
        width: 100%
    }
    
    .profile-page .profile-sub-header ul.box-list {
        display: inline-table;
        table-layout: fixed;
        width: 100%;
        background: #eee
    }
    
    .profile-page .profile-sub-header ul.box-list li {
        border-right: 1px solid #e0e0e0;
        display: table-cell;
        list-style: none
    }
    
    .profile-page .profile-sub-header ul.box-list li:last-child {
        border-right: none
    }
    
    .profile-page .profile-sub-header ul.box-list li a {
        display: block;
        padding: 15px 0;
        color: #424242
    }
    
    .bullet {
        list-style-type: none;
    }
    /*Left Side component*/
    
    .leftSideBody {
        position: absolute;
        height: 100vh;
        width: 50%;
        left:0;
    }
    
    img {
        vertical-align: middle;
        border-radius: 55%;
        height: 70px;
        width: 70px;
        border: solid 1px !important;
    }
    
    .btn-block {
        display: block;
        width: 100%;
        margin-top: 8%;
        width: 70%!important;
        height: 76px !important;
    }
    
    h1 {
        font-size: 2.5rem;
        color: white;
        margin-inline-end: auto;
    }
    
    @media (min-width: 865px) {
        h1 {
            font-size: 2.5rem;
            color: white;
            margin-inline-end: auto;
        }
    }
    
    .leftSideBtns{
        padding: 0.5rem 1rem;
        font-size: 1.8rem !important;
        line-height: 1.5;
        border-radius: 1.3rem !important;
    }

    .likeOrNotBtn{
      font-size:1.1rem!important;
      margin-top: 0!important;
      margin-inline-start: 19%;
      height: 45px!important;
    }
    
    .btn-secondary {
        color: white !important;
        border-color: #6c757d !important;
        border: solid 1px !important;
    }
    
    .btn-block,
    .btn-block {
        margin-top: 2.5rem !important;
        margin-inline-start: 19%;
    }
    
    .container {
        display: block;
        margin-left: auto!important;
        margin-right: auto!important;
        width: 85%!important;
    }

    .results{
      width:100%!important;
      margin-left:0;
      margin-right: 0;
      padding-left:0;
      padding-right:0;
    }

    .modalChoose{
      align-self: center;
    }

    .mainContainerLeft{
      height: 100%;
      justify-items: center;
    }

    .buttons a{
      text-decoration: none;
      color:#FFF;
    /* Messages Component */
    /* body {
        background:#ddd;
        margin-top:10px;
        }
         */
      }
    .chat-box {
        height: 100%;
        width: 100%;
        background-color: #fff;
        overflow: hidden
    }
    
    .chats {
        padding: 30px 15px 100px 15px;
    }
    
    .chat-avatar {
        float: right
    }
    
    .chat-avatar .avatar {
        width: 30px;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.3);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.3);
    }
    
    .chat-body {
        display: block;
        margin: 10px 30px 0 0;
        overflow: hidden
    }
    
    .chat-body:first-child {
        margin-top: 0
    }
    
    .chat-content {
        position: relative;
        display: block;
        float: right;
        padding: 8px 15px;
        margin: 0 20px 10px 0;
        clear: both;
        color: #fff;
        background-color: #62a8ea;
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    }
    
    .chat-content:before {
        position: absolute;
        top: 10px;
        right: -10px;
        width: 0;
        height: 0;
        content: '';
        border: 5px solid transparent;
        border-left-color: #62a8ea
    }
    
    .chat-content>p:last-child {
        margin-bottom: 0
    }
    
    .chat-content+.chat-content:before {
        border-color: transparent
    }
    
    .chat-time {
        display: block;
        margin-top: 8px;
        color: rgba(255, 255, 255, .6)
    }
    
    .chat-left .chat-avatar {
        float: left
    }
    
    .chat-left .chat-body {
        margin-right: 0;
        margin-left: 30px
    }
    
    .chat-left .chat-content {
        float: left;
        margin: 0 0 10px 20px;
        color: #76838f;
        background-color: #dfe9ef
    }
    
    .chat-left .chat-content:before {
        right: auto;
        left: -10px;
        border-right-color: #dfe9ef;
        border-left-color: transparent
    }
    
    .chat-left .chat-content+.chat-content:before {
        border-color: transparent
    }
    
    .chat-left .chat-time {
        color: #a3afb7
    }
    
    .panel-footer {
        padding: 0 30px 15px;
        background-color: transparent;
        border-top: 1px solid transparent;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
    }
    
    .avatar img {
        width: 100%;
        max-width: 100%;
        height: auto;
        border: 0 none;
        border-radius: 1000px;
    }
    
    .chat-avatar .avatar {
        width: 30px;
    }
    
    .avatar {
        position: relative;
        display: inline-block;
        width: 40px;
        white-space: nowrap;
        border-radius: 1000px;
        vertical-align: bottom;
    }
    
    .btnSend {
        height: 38px;
        border: none;
        border-radius: 0 5px 5px 0;
        background: #62a8ea;
        color: white;
    }
    
    .chat-avatar .avatar {
        width: 50px;
    }
    
    .smile {
        font-size: 25px;
    }

    .snippets{
      position: absolute;
      height: 100vh;
      width: 50%;
      right:0;
      background: #09d3ac;
      flex-wrap: wrap;
      overflow:scroll;
    }