.App {
  text-align: center;
  position: relative;
  height: 100vh;
  overflow:scroll;
  flex-wrap: wrap;

}
.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.openedModal{
  z-index: 9999;
}

.RightComponent{
  position: absolute;
  height: 100vh;
  width: 50%;
  right:0;
  background: #09d3ac;
  flex-wrap: wrap;
  overflow:scroll;
}

.LeftComponent{
  position: absolute;
  height: 100vh;
  width: 50%;
  left:0;
}

.leftHeader{
  margin-top: 28px;
}

.userHello{
  align-self: center;
  text-align: left;
  font-size: 35px;
}

.rightTop{
  height: 5%;
  position: fixed;
  width: 50%;
  text-align: center;
  background:#282c34 ;
  z-index: 999;
  opacity: 0.8;
}

.profileCardRight{
  margin-top: -10px;
  /* height:320px */
}

.age {
  font-size: 25px;
}

.card .body {
  font-size: 19px!important;
}

.card {
  border-radius: 1.25rem!important;
}

@media (min-width: 768px) {
  .col-md-12 {
      flex: 0 0 100%;
      max-width: 100%;
      top: 130px;
  }
}

.profile-page .profile-header .profile-image img {
  border-radius: 20% !important;
  width: 200px!important;
  border: 3px solid #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.btn-primary {
  color: green!important;
  background-color: whitesmoke!important;
  border-color: #b5cce4!important;
  position: absolute!important;
  bottom: 1%!important;
  right: 10px!important;
  border-radius: 30%!important;
}

.m-t-5 {
  margin-top: 5px;
}

.card {
  background: #fff;
  margin-bottom: 30px;
  transition: .5s;
  border: 0;
  border-radius: .1875rem;
  display: inline-block;
  position: relative;
  width: 100%;
  box-shadow: none;
}

.card .body {
  font-size: 14px;
  color: #424242;
  padding: 20px;
  font-weight: 400;
}

.profile-page .profile-header {
  position: relative
}

.profile-page .profile-header .profile-image img {
  border-radius: 50%;
  width: 140px;
  border: 3px solid #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
}

.profile-page .profile-header .social-icon a {
  margin: 0 5px
}

.profile-page .profile-sub-header {
  min-height: 60px;
  width: 100%
}

.profile-page .profile-sub-header ul.box-list {
  display: inline-table;
  table-layout: fixed;
  width: 100%;
  background: #eee
}

.profile-page .profile-sub-header ul.box-list li {
  border-right: 1px solid #e0e0e0;
  display: table-cell;
  list-style: none
}

.profile-page .profile-sub-header ul.box-list li:last-child {
  border-right: none
}

.profile-page .profile-sub-header ul.box-list li a {
  display: block;
  padding: 15px 0;
  color: #424242
}

.bullet {
  list-style-type: none;
}
.leftBody {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  color: black;
}
